 


.hero {
  background-image: url("https://img.freepik.com/premium-vector/seamless-cheese-texture-background-template-your-design-piece-delicious-cheese-vector_685067-50.jpg");
  height: %;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}





main {
background: #ffbe00;
background: linear-gradient(0deg, rgba(255,190,0,1) 0%, rgba(255,245,216,1) 100%);
padding: 1%;
margin: 1%;
border-radius: 2%;
}

.part1 {
display: grid;
grid-template-columns:1fr 1fr 1fr ;
grid-template-rows: 1fr ;
container: grid;
background-color: #fdf9ca;
border-radius: 2%;
border-style: solid;
border-color: #b2950451;
margin: 5%;
max-width: 125rem;
}


.Facts {
padding: 3%;
grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 1;
}

.cult {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.nut {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.util {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.Facts {
  background-color: #fdfad3;
  border-radius: 10%;
  margin: 2%;
  padding: 1%;
  border-style:solid;
  border-color: rgba(0, 0, 0, 0.108);
  }

.cult {
background-color: #fdfad3;
border-radius: 10%;
margin: 5%;
padding: 4%;
text-align: center;
border-style:solid;
border-color: rgba(0, 0, 0, 0.019);
}

.nut {
  background-color: #fdfad3;
  border-radius: 10%;
  margin: 5%;
  padding: 4%;
  text-align: center;
  border-style:solid;
  border-color: rgba(0, 0, 0, 0.019);
}

  .util {
    background-color: #fdfad3;
    border-radius: 10%;
    margin: 5%;
    padding: 4%;
    text-align: center;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.019);
    }

  
    
  
  .shop.top {
text-align: center;
margin: 0%;
padding: 1%;
background-color: #fdf9ca;
width: 41.%;
border-style: solid;
border-color: rgba(0, 0, 0, 0.108);
border-bottom-color: #fdf9ca;
}

.small.top {
  text-align: center;
  background-color: #fdf9ca;
  width: 41.%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.108);
  border-bottom-color: #fdf9ca;
  border-top-color: #fdf9ca;

}

.products {
      display: grid;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-rows: 1fr;
      margin: 0%;
      padding: 0%;
      background-color: #fdf9ca;
      border-style: solid;
      border-bottom-color: rgba(0, 0, 0, 0.108);
      border-left-color: rgba(0, 0, 0, 0.108);
      border-right-color: rgba(0, 0, 0, 0.108);
      border-top-color: rgba(0, 0, 0, 0.108);
      text-align: center;
    }

  .barr {
width: 50%;
display: block;
  margin-left: auto;
  margin-right: auto;
  }    
  .pile {
width: 70%;
display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .nifes {
width: 40%;
display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .bundle {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 15%;
    padding: 9%;
  }
  
  .barrel {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 15%;
    padding: 9%;
  }

  .knifes {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 15%;
    padding: 9%;
  }



.quest {
  display: grid;
 background-color: #fdf9ca;
 margin: 5%;
 padding: 3%;
 border-radius: 8%;
 border-style: dashed;
 border-color: #b2950451;
}

.commonQ {
  grid-column-start: 1fr;
  grid-column-end: 1fr;
  grid-row-start: 1fr;
  grid-row-end: 1fr;
  margin: 1%;
  padding: 1%;
  background-color: #fffaad;
  width: 20rem;
  height: 2rem;
}

.Q1 {
  grid-column-start: 1fr;
  grid-column-end: 1fr;
  grid-row: 2fr;
  margin: 5%;
  background-color: #fffaad;
}

.Q2 {
  grid-column-start: 2fr;
  grid-column-end: 2fr;
  grid-row: 1fr;
  margin: 5%;
  background-color: #fffaad;

 }

 .Q3 {
  grid-column-start: 1fr;
  grid-column-end: 1fr;
  grid-row: 3fr;
  margin: 5%;
  background-color: #fffaad;

 }
 
 .Q4 {
  grid-column-start: 2fr;
  grid-column-end: 2fr;
  grid-row: 3fr;
  margin: 5%;
  background-color: #fffaad;

 }

 .ask {
  background-color: #fffaad;
  text-align: center;
 }


 .login {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
 }
 
